.modal-header, h4, .close {
    background-color: #feda00;
    color:white;
    text-align: center;
    font-size: 30px;
}
.modal-footer {
    /*background-color: #f9f9f9;*/
}

/*===========================TIMER===========================================*/

.timer{
  color: white;
  text-align: center;
  font-size: 30px;
}

.container {
  font-size: 100pt;
  text-align: center;
}

.hours {
  float: left;
}
.minutes {
  float: left;
}
.seconds {
  float: left;
}
.clearDiv {
  clear: both;
}

.bodyTimeoutBackground {
  background: white;
}

.timeout {
  color: #feda00;
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 1s;
}
@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

/*==========================================================================*/


body{
  background-color: #333333!important;
  background-repeat: repeat;
  background-size: 700px;

}

.header{
  text-align: center;
  margin: 0px;
  font-family: 'Monoton', cursive;
}

/*help*/
.header button{
  font-size: 14px;
  margin-left: 10px;
  /*margin: 0 auto;*/
}


.title{
  color: #feda00;
  font-size: 60px;
}

.word-result{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #f0efef;
  font-size: 20px;
}

.board{
  text-align: center;
  margin: 0px auto;
  position: relative;
  border-radius: 10px;
  opacity: 0.9;
  width: auto;
  min-width: 400px;
  max-width: 1000px;
  padding-top: 20px;
}


.col{
  display: inline-block;
}

.cell{
  border: 0.01px solid #f0efef;
  border-radius: 7px;
  width: 60px;
  height: 60px;
  /*WATCH OUT FOR MARGIN*/
  margin-left: 3px;
  margin-bottom: 3px;
}

.cell img{
  width: 60px;
}

.tile-pile{
  border: 0px solid #000;
  border-radius: 5px;
  background-color: #f0efef;
  height: 200px;
  width: 100%;
  min-width: 800px;
  margin-top: 40px;
  padding: 10px;
  text-align: center;
  bottom: 0px;
  display: inline-block;
}

.peel-btn{
  border-radius: 100px;
  background-size: cover;
  float: right;
  margin-right: 50px;
  text-align: center;
  padding: 20px;
  height: 70px;
}

.peel-btn-purple{
  /*background-color: #8565c4;*/
  /*background-color: #f1651d;*/
  background-color: #feda00;
}

.peel-btn-grey{
  background-color: #d3d3d3;
}

.greenpeel{
  background-color: green;
}

.peel-btn #peel-txt{
  color: #333333;
  position: relative;
  top: -50%;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  /*text-shadow: 1px 1px 5px  black;*/
}

.dump-btn{
  border-radius: 5px;
  width: 200px;
  background-size: cover;
  float: left;
  margin-left: 20px;
  text-align: center;
}

.normaldump{
  /*background-color: #2565c4;*/
  background-color: #333333;
}

.hoverdump{
  background-color: red;
}

.dump-btn #dump-txt{
  color: #f0efef;
  position: relative;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 1px 5px  black;
}

.letter {
  display: inherit;
  margin-right: 3px;
}

.letters{
  display: inline-block;
  width: 500px;
  text-align: center;
}

.letters img{
  width: 60px;
}

/*when word is wrong*/
.wrong{
  -webkit-animation: pulse 1.5s ease-in-out infinite alternate;
   -moz-animation:  pulse 1.5s ease-in-out infinite alternate;
   animation: pulse 1.5s ease-in-out infinite alternate;
}

@keyframes pulse {
  from { box-shadow:0px 0px 10px 3px magenta; }
  to { box-shadow:0px 0px 20px 5px magenta; }
}
