body{
  background-color: #1a1a1a;
}

.title{
  text-align: center;
  font-family: Avenir;
  color: white;
}

.board{
  text-align: center;
  margin: 0px auto;
  position: relative;
  /*min-width: 500px;*/

  border-radius: 10px;

  background-color: grey;

  width: 400px;

}

.col{
  display: inline-block;

}

.cell{
  border: 0.01px solid #333333;
  border-radius: 7px;
  width: 60px;
  height: 60px;
  /*WATCH OUT FOR MARGIN*/
  margin-bottom: 3px;

  /*position: relative;
  /*display: inline-block;*/*/
}

.cell img{
  width: 60px;
}

.tile-pile{
  border: 0px solid #000;
  border-radius: 5px;
  background-color: #333333;
  height: 200px;
  width: 100%;
  min-width: 800px;
  margin-top: 40px;
  padding: 10px;
  /*position: absolute;*/
  bottom: 0px;
}

.peel-btn{
  /*border: 2px solid #000;*/
  background-color: #8565c4;
  border-radius: 5px;
  color: white;
  width: 200px;
  height: 70px;
  float: right;
  right: 20px;
  text-align: center;

  /*visibility: hidden;;*/
}

.peel-btn #peel-txt{

      color: white;

      position: relative;
      top: 50%;
      transform: translateY(-120%);

      font-size: 30px;
      font-family: Avenir;
}

.dump-btn{
  background-color: #2565c4;
  border-radius: 5px;

  width: 200px;
  height: 70px;
  float: left;
  right: 20px;
  text-align: center;


}

.dump-btn #dump-txt{


    color: white;

    position: relative;
    top: 50%;
    transform: translateY(-120%);

    font-size: 30px;
    font-family: Avenir;
}

.letter {
  display: inherit;
  margin-left: 3px;
  margin-right: 3px;
}

.letters{
  display: inline-block;
  width: 500px;

  text-align: center;
}

.letters img{
  width: 60px;
  /*white-space: nowrap;*/

}

/*//when word is wrong*/
.wrong{
  -webkit-animation: pulse 1.5s ease-in-out infinite alternate;
   -moz-animation:  pulse 1.5s ease-in-out infinite alternate;
   animation: pulse 1.5s ease-in-out infinite alternate;
}

@keyframes pulse {
  from { box-shadow:0px 0px 10px 3px magenta; }
  to { box-shadow:0px 0px 20px 5px magenta; }
}
