body{
  background-color: #1a1a1a;
}

.title{
  text-align: center;
  font-family: Avenir;
  color: white;
}

.board{
  text-align: center;
  color: #0f9;
  min-width: 500px;
}

.row{
  display: inline-block;

}

.cell{
  border: 0.01px solid #333333;
  border-radius: 7px;
  width: 60px;
  height: 60px;
  /*WATCH OUT FOR MARGIN*/
  margin-bottom: 3px;

  /*position: relative;
  display: inline-block;*/
}

.cell img{
  width: 60px;
}

.tile-pile{
  border: 0px solid #000;
  border-radius: 5px;
  background-color: #333333;
  height: 200px;
  width: 100%;
  min-width: 800px;
  margin-top: 40px;
  padding: 10px;
  /*position: absolute;*/
  bottom: 0px;
}

.peel-btn{
  border: 2px solid #000;
  background-color: #f80;
  color: white;
  width: 200px;
  height: 70px;
  float: right;
  text-align: center;
  /*visibility: hidden;;*/
}

.letter {
  display: inherit;
}

.letters{
  display: inline-block;
  width: 500px;
}

.letters img{
  width: 60px;
  /*white-space: nowrap;*/

}
